@model Invoicing.Models.Product

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sale_price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sale_price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cur_stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cur_stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand.Brand_Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.processor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.processor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.primary_cam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.primary_cam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.front_cam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.front_cam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.battery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.battery)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
